#headerBar{
    background-color: #14a4e9;
    height: 50px;
    width: 100%;
    z-index: 2;
    position: fixed;
}

#title{
    color: black;
    font-weight: bold;
    font-size: 34px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0%, -50%);
}